@tailwind base;
@tailwind components;
@tailwind utilities;


.box1{
    background-image: url(./bg.svg);
    height: 35vh;
    background-position: center;
    background-size: cover;
}

.box2{
    background-image: url(./bg.svg);
    height: 35vh;
    background-position: center;
    background-size: cover;
}